@import org.edena.core.FilterCondition
@import views.html.export.exportModal

@(
    exportCall: (Seq[FilterCondition], Boolean) => Call,
    elements: Option[Html] = None
)(
    implicit request: RequestHeader
)

@modalBody = {
    <p>Are you sure you want to export the FULL data set (no filter applied) with ALL the fields?</p>
    @elements.map { e =>
        <fieldset>
            @e
        </fieldset>
    }
}

@exportModal("exportAllJsonModal", "Full Json Export", exportCall(Nil, false), modalBody)