@import org.edena.core.FilterCondition
@import views.html.export.exportModal

@(
    exportCall: (Seq[FilterCondition], Boolean) => Call,
    elements: Option[Html] = None
)(
    implicit request: RequestHeader
)

@modalBody = {
    <p>Are you sure you want to export the FULL data set (no filter applied) with ALL the fields as JSONL (one JSON per line)?</p>
    @elements.map { e =>
        <fieldset>
            @e
        </fieldset>
    }
}

@jsonlCall = @{
    val call = exportCall(Nil, false)
    call.copy(url = call.url + (if (call.url.contains("?")) "&" else "?") + "format=jsonl")
}

@exportModal("exportAllJsonlModal", "Full JSONL Export", jsonlCall, modalBody)
