@import views.html.table.dynamicNColumnTable
@import org.edena.play.controllers.WebContext
@import org.edena.play.controllers.WebContext._

@(
    collectionItemName: String,
    tableLabel: String,
    field1Label: String,
    field2Label: String,
    field3Label: String,
    data: Seq[(String, String, String)] = Nil,
    customRowToModelJs: Option[Html] = None,
    itemsName: Option[String] = None,
    labelGridWidth: Int = 2
)(implicit webContext: WebContext)

@dynamicNColumnTable(
    collectionItemName,
    tableLabel,
    Seq(field1Label, field2Label, field3Label),
    data.map { case (a, b, c) => Seq(a, b, c)},
    customRowToModelJs,
    itemsName,
    labelGridWidth
)