@import org.edena.play.Page
@(
    page: Page[_],
    refreshCall: (Int, Option[String]) => Call,
    isAjaxRefresh: Boolean = false
)

@link(page: Int)(title: Html) = {
    @if(isAjaxRefresh) {
        <a class="page-link" href="#" onclick="loadNewTableContent(this, '@refreshCall(page, None).url', null, 'POST'); return false">@title</a>
    } else {
        <a class="page-link" href="@refreshCall(page, None)">@title</a>
    }
}

<ul class="pagination justify-content-between">
    @page.prev.map { page =>
        <li class="page-item">
            @link(page){&larr; Previous}
        </li>
    }.getOrElse {
        <li class="page-item disabled">
            <a class="page-link">&larr; Previous</a>
        </li>
    }
<li class="page-item page-info disabled">
    <a class="page-link">Displaying @(page.offset + 1) to @(page.offset + page.items.size) of @page.total</a>
</li>
    @page.next.map { page =>
        <li class="page-item">
            @link(page){Next &rarr;}
        </li>
    }.getOrElse {
        <li class="page-item disabled">
            <a class="page-link">Next &rarr;</a>
        </li>
    }
</ul>