@import views.html.layout
@import views.html.dataspace.elements
@import views.html.dataset.{datasetMenu, datasetSubNavWithJs}
@import org.edena.ada.web.controllers.dataset.routes.{DataSpaceMetaInfoController => dataSpaceMetaInfoRoutes}
@import reactivemongo.api.bson.BSONObjectID
@import org.edena.ada.server.models.DataSpaceMetaInfo
@import org.edena.play.controllers.WebContext._
@import org.edena.play.controllers.WebContext

@(
    id: BSONObjectID,
    form: Form[DataSpaceMetaInfo],
    nestedDataSpaceCount: Int,
    nestedDataSetCount: Int,
    dataSetIdSizeMap: Map[String, Int],
    dataSpaceMetaInfos: Traversable[DataSpaceMetaInfo]
)(
    implicit context: WebContext
)

@showDataSetsButton = {
    <a class="btn btn-default" id="showDataSets" href="@dataSpaceMetaInfoRoutes.showDataSetIds(id)">Show data set ids</a>
}

@layout.edit(
    "Study",
    "dataSpaceMetaInfo",
	form.errors,
    elements(form, nestedDataSpaceCount, nestedDataSetCount, dataSetIdSizeMap, Some(id)),
    dataSpaceMetaInfoRoutes.update(id),
    dataSpaceMetaInfoRoutes.get(id),
    Some(dataSpaceMetaInfoRoutes.delete(id)),
    Some(datasetMenu(dataSpaceMetaInfos)),
    None,
    extraButtons = Some(showDataSetsButton)
)