@(element: Html)

<div class="text-center my-2">
    <button id="showHideTableButton" type="button" class="btn btn-outline-secondary btn-sm" data-toggle="collapse" data-target="#table-panel">
        <span id="tableToggleIcon" class="bi bi-chevron-up"></span> Hide Table
    </button>
</div>

<div id="table-panel" class="collapse show">
    @element
</div>

<script type="text/javascript">
        var tableShown = true
        $('#showHideTableButton').on('click', function() {
            if (tableShown) {
                $('#tableToggleIcon').removeClass('bi-chevron-up').addClass('bi-chevron-down');
                $('#showHideTableButton').html('<span id="tableToggleIcon" class="bi bi-chevron-down"></span> Show Table');
            } else {
                $('#tableToggleIcon').removeClass('bi-chevron-down').addClass('bi-chevron-up');
                $('#showHideTableButton').html('<span id="tableToggleIcon" class="bi bi-chevron-up"></span> Hide Table');
            }
            tableShown = !tableShown;
        });
</script>