@import views.html.layout.carousel
@import views.html.layout.main
@import org.edena.play.controllers.WebContext
@import org.edena.play.controllers.WebContext._
@import org.edena.play.routes.CustomDirAssets
@import org.edena.ada.web.controllers.routes

@(
    customHtml: Option[String])(
    implicit context: WebContext
)

@main(
    title = context.configuration.getOptional[String]("homepage.title").getOrElse("Discovery Platform"),
    showMessageBox = false
) {

    <div class="page-header">
        <div class="row">
            <div class="col-md-12 aligned-container">
            <div class="col-md-9 col-sm-12">
                <h2 style="margin: 0; font-weight: 300;">@context.configuration.getOptional[String]("homepage.title").getOrElse("Discovery Platform")</h2>
            </div>
            <div class="col-md-3 col-sm-12">
                @context.configuration.getOptional[String]("project.url").map { url =>
                    <a target="_blank" href="@url">
                        @context.configuration.getOptional[String]("project.logo").map { logo =>
                            <img class="img-fluid float-right" src="@CustomDirAssets.versioned(logo)" />
                        }.getOrElse {
                            <div class="float-right">&rarr;</div>
                        }
                    </a>
                }
            </div>
            </div>
        </div>
    </div>
    @if(context.configuration.getOptional[Boolean]("homepage.carousel.enabled").getOrElse(true)) {
        @carousel()
        <hr/>
    }
    <div class="row jumbotron homepage-jumbotron">
        @customHtml.map(Html(_)).getOrElse {
            <h3>Welcome to this awesome project!</h3>
        }
    </div>
    <hr/>
    <div class="row">
        <div class="col-12">
            <p>
                If you want to try Ada <a class="btn btn-sm btn-primary" href="@routes.AppController.dataSets">Login</a> or <a class="btn btn-sm btn-primary" href="@routes.AppController.contact">Request an account</a>.<br/>
                Note that at the moment we provide accounts only for the collaborating partners, not for the general public.
            </p>
        </div>
    </div>
}