@import org.edena.play.controllers.WebContext._
@import org.edena.play.controllers.WebContext

@(
    itemName: String,
    title: Option[String],
    count: Long,
    actions: Option[Html],
    table: Option[Html] = None,
    widgetsAndFilters: Option[Html] = None,
    sideBar: Option[Html] = None,
    topContentBar: Option[Html] = None,
    topResources: Option[Html] = None,
    bottomResources: Option[Html] = None,
    showCollapsibleTableSeparator: Boolean = true
)(
    implicit context: WebContext
)

@main(title.getOrElse(Messages("overviewList.title", itemName)), sideBar, topContentBar, topResources, bottomResources) {

    <div class="page-header">
        <h3>
            @Messages("list.count.title", count, itemName)
        </h3>
    </div>

    @if(actions.isDefined) {
        <div id="actions">
            @actions.get
        </div>
        @if(widgetsAndFilters.isDefined && showCollapsibleTableSeparator) {
            <hr/>
        }
    }

    @if(widgetsAndFilters.isDefined){
        @widgetsAndFilters.get

        @if(table.isDefined && count > 0 && showCollapsibleTableSeparator) {
            @collapsibleElement(table.get)
        } else if(table.isDefined) {
            @table.get
        }
    } else {
        @table
    }
}