@import views.html.layout
@import views.html.dataset.{datasetMenu, datasetSubNavWithJs}
@import views.html.table.paginatedTable
@import views.html.dataview.dataViewSelectionModal
@import views.html.filter.{filter, filterWithJs}
@import org.edena.ada.web.util.typeColumns
@import org.edena.ada.web.controllers.dataset.{DataSetWebContext, DataViewJsRouter, DataViewRouter}
@import org.edena.ada.server.models.{DataView, DataSpaceMetaInfo, Field, Filter}
@import reactivemongo.api.bson.BSONObjectID
@import org.edena.ada.web.controllers.dataset.DataSetWebContext._
@import org.edena.play.Page
@import org.edena.core.FilterCondition
@import org.edena.ada.server.models.DataSetSetting

@import org.edena.core.DefaultTypes.Seq

@(
    domainName : String,
    page: Page[DataView],
    conditions: Seq[FilterCondition],
    setting: DataSetSetting,
    dataSpaceMetaInfos: Traversable[DataSpaceMetaInfo]
)(
    implicit context: DataSetWebContext
)

@actions = {
    <div class="d-flex align-items-start">
        <div class="flex-grow-1">
            @filterWithJs(
                Filter(conditions),
                dataViewRouter.plainList,
                Left(Seq(Field("name", None)))
            )
        </div>
        <div class="ml-auto d-flex align-items-center" style="gap: 6px; padding-top: 10px;">
            <a class="btn btn-info btn-sm" href="@dataViewRouter.create" data-toggle="tooltip" title="Add New View">
                <span class="bi bi-plus-circle"></span>
            </a>
            <a class="btn btn-info btn-sm" href="#" data-toggle="modal" data-target="#dataViewSelectionModal" title="Copy View">
                <span class="bi bi-files"></span>
            </a>
        </div>
    </div>
    @dataViewSelectionModal("dataViewSelectionModal", dataViewRouter, Some(dataViewRouter.copy(BSONObjectID.generate)))
}

@table = {
    @paginatedTable(
        page,
        dataViewRouter.list(_, _, conditions),
        typeColumns[DataView](
            (Some("name"), "Name", _.name),
            (Some("default"), "Default?", _.default.toString),
            (Some("timeCreated"), "Time Created", _.timeCreated.toString),
            (Some("createdById"), "Created By", view => view.createdBy.map(_.userId).getOrElse(
                view.createdById.map(_ => "<i>Not Found</i>").getOrElse(""))
            )
        ),
        Some({ item : Any => dataViewRouter.get(item.asInstanceOf[DataView]._id.get)})
    )
}

@layout.list(
    domainName,
    None,
    page.total,
    Some(actions),
    Some(table),
    None,
    Some(datasetMenu(dataSpaceMetaInfos)),
    Some(datasetSubNavWithJs(setting))
)