@import play.api.Configuration
@import org.edena.play.routes.CustomDirAssets
@import org.edena.core.util.ConfigImplicits.ConfigExt

@()(implicit msg: Messages, configuration: Configuration)

@copyrightURL(href: String, text: String) = {
    &copy; <a target="_blank" href="@href">@text</a>
}

<footer>
    <div align="center">
        <hr/>
        @configuration.underlying.optionalObjectList("footer.logos").map { configObjects =>
            <ul class="list-inline">
            @configObjects.map(_.toConfig).map { logoConfig =>
                <li>
                    <a target="_blank" href="@{logoConfig.getString("url")}">
                        <img @if(logoConfig.hasPath("height")) {height="@logoConfig.getInt("height") px" } src="@CustomDirAssets.versioned(logoConfig.getString("logo"))"/>
                    </a>
                </li>
            }
            </ul>
            <hr/>
        }

        <p class="text-muted" align="center">
            App Version: @{configuration.get[String]("app.version")}@{configuration.getOptional[String]("project.name").map(", Project: " + _)}
        </p>
        <p class="text-muted" align="center">
            @{defining((configuration.getOptional[String]("copyright.url"), configuration.getOptional[String]("copyright.text"))) { urlAndText: (Option[String], Option[String]) =>
                if(urlAndText._1.isDefined && urlAndText._2.isDefined) {
                    copyrightURL(urlAndText._1.get, urlAndText._2.get)
                } else {
                    copyrightURL("https://ada-discovery.github.io", "Ada Discovery Analytics")
                }
            }}
            2016-@(new java.util.Date().format("yyyy")). All rights reserved.
        </p>
    </div>
</footer>